@model Model.PhieuNhap
@{
    ViewBag.Title = "CreateDetail";
    List<Model.Loai> listLoai = ViewBag.listLoai as List<Model.Loai>;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/ChiTietPhieuNhap.js"></script>
<h2>Tạo chi tiết hóa đơn</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.NgayNhap)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NgayNhap)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCungCap)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NhaCungCap.TenNhaCungCap)
    </dd>
</dl>
<table class="table">
    <tr>
        <td>
            Loại:
        </td>
        <td>
            <select class="form-control" id="listMaLoai">
                @foreach(Model.Loai l in listLoai) {
                    <option value="@l.MaLoai">@l.TenLoai</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            Số lượng:
        </td>
        <td>
            <input type="text" class="form-control" id="txtSoLuong" />
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-success btn-md" id="btnAdd">+</button>
        </td>
    </tr>
</table>
@using(Html.BeginForm("CreateDetailHandler", "PhieuNhap")) {
    <input type="hidden" name="maPhieuNhap" value="@Html.DisplayFor(model => model.MaPhieuNhap)"/>
    <table class="table" id="table_createChiTietPhieuNhap">
        @Html.AntiForgeryToken();
        <thead>
            <tr>
                <th>
                    Loại:
                </th>
                <th>
                    Số lượng:
                </th>
                <th>
                    Mã loại:
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <input type="submit" value="Hoàn tất" class="btn btn-default" />
}

